.page {
  background-color: #001f54;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  font-size: 30px;
  color: #ffffff;
  position: relative;
  top: -40px;
  margin-bottom: 30px;
  text-align: center;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.iconWrapper {
  position: absolute;
  /* margin-top: 12px; */
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.inputField {
  width: 230px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #004aad;
  color: #ffffff;
  /* margin-bottom: 10px; */
}

.submitFormButton {
  width: fit-content;
  padding: 10px 20px;
  margin-top: 10px;
}

.submitFormButton:hover::after {
  left: 100%;
}

.notAUser {
  color: #ffffff;
  margin-top: 20px;
}

.signupLink {
  color: #ffcc00;
  cursor: pointer;
}

.signupLink:hover {
  text-decoration: underline;
}

.signingUpMessage {
  margin-top: 20px;
}
