.page {
  background-color: #001f54;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  font-size: 30px;
  color: #ffffff;
  position: relative;
  top: -40px;
  margin-bottom: 30px;
  text-align: center;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  position: relative;
}

.iconWrapper {
  position: absolute;
  margin-top: 12px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.inputField {
  width: 230px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #004aad;
  color: #ffffff;
  margin-bottom: 10px;
}

.loginButton {
  width: 90px;
  padding: 8px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.loginButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

.loginButton:hover::after {
  left: 100%;
}

.notAUser {
  color: #ffffff;
  margin-top: 20px;
}

.signupLink {
  color: #ffcc00;
  cursor: pointer;
}

.signupLink:hover {
  text-decoration: underline;
}
