.page {
    background-color: rgb(7, 18, 119);
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.waitingContent {
    margin-top: 50px;
}

.playerStatus {
    color: #ffcc00;
    font-family: 'Impact', sans-serif;
}

.exitGameButton {
    background-color: blue;
    color: #ffcc00;
    height: 60px;
    width: 150px;
    font-size: 25px;
    font-family: 'Impact', sans-serif;
    margin-top: 10px;
    margin-right: 10px;
}

.exitGameButton:hover {
    background-color: #ffcc00;
    color: white;
}

.flexBox {
    position: relative;
    margin-left: auto;
    display: flex;
}

.loadingDots {
    color: #ffcc00;
    font-family: 'Impact', sans-serif;
    font-size: inherit;
    display: inline; 
}

.loadingDots span {
    animation: loadingDots 1.5s infinite;
    opacity: 0;
    display: inline-block;
}

.dot1 {
    animation-delay: 0s;
}

.dot2 {
    animation-delay: 0.5s; 
}

.dot3 {
    animation-delay: 1s;
}

@keyframes loadingDots {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.readyPlayers {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px; 
    font-family: 'Impact', sans-serif;
    font-size: 25px;
    color: #ffcc00;
  }
  
  .player {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  /* .checkMark {
    color: rgb(221, 235, 66);
    font-size: 1.5rem;
  } */
  
  /* .readyButton {
    background-color: #ffcc00;
    border: none;
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-family: 'Impact', sans-serif;
    font-size: 20px;
    margin-top: 30px;
  }
  
  .readyButton:hover {
    background-color: green;
    color: white;
  } */

  @keyframes fade {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}

.waitingAnimation {
    animation: fade 2s infinite;
    color: rgb(192,192,192);
}
  
 

  .readyButton {
    background-color: #ffcc00;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    width: 150px;
    height: 80px;
    cursor: pointer;
    font-family: 'Impact', sans-serif;
    font-size: 20px;
    margin-top: 30px;
  }
  
  .readyButton::before {
    content: 'Ready';
    color: #fafafa;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .readyButton:hover::before {
    opacity: 1;
  }
  
  .readyButton:hover {
    color: transparent;
    background-color:#28a745;
  }
  
  .readyButtonActive {
    background-color: #28a745; 
    color: white;
  }
  
  .readyButtonActive::before {
    content: 'Not Ready';
    color: white;
    opacity: 0;
    font-size: 20px;
  }
  
   
  .readyButtonActive:hover::before {
    opacity: 1;
  }
  
  .readyButtonActive:hover {
    color: transparent;
    background-color:#ffcc00;
  }

  .playerCircle {
    width: 80px;
    height: 80px;
    background-color: #002366; 
    color: #ffd700; 
    border: 2px solid #ffd700;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .playerCircle:hover {
    background-color: #ffd700; 
    color: #002366;
    transform: scale(1.1);
  }
  
 
  .readyPlayerCircle {
    background-color: #28a745; 
    color: white;
    border: 2px solid #28a745; 
  }